.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.activeCamp {
    -fx-background-color: lightgreen;
}

.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}
