.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}

.activeCamp {
    -fx-background-color: lightgreen;
}

.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}

.formLabel {
    -fx-font-weight: bold;
}

.grid {
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.root {

    /*default font */
    -fx-font-family: 'Helvetica Neue';
    -fx-disabled-opacity: 0.6;

    -flatter-red: rgb(237.0, 68.0, 37.0);
    -flatter-blue: rgb(0.0, 184.0, 222.0);
}
